@font-face {
    font-family: '1942_report1942_report';
    src: url('1942-webfont.eot');
    src: url('1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('1942-webfont.woff2') format('woff2'),
         url('1942-webfont.woff') format('woff'),
         url('1942-webfont.ttf') format('truetype'),
         url('1942-webfont.svg#1942_report1942_report') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'alegreya_scbold';
    src: url('alegreyasc-bold-webfont.eot');
    src: url('alegreyasc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('alegreyasc-bold-webfont.woff2') format('woff2'),
         url('alegreyasc-bold-webfont.woff') format('woff'),
         url('alegreyasc-bold-webfont.ttf') format('truetype'),
         url('alegreyasc-bold-webfont.svg#alegreya_scbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bearpawregular';
    src: url('bearpaw_-webfont.eot');
    src: url('bearpaw_-webfont.eot?#iefix') format('embedded-opentype'),
         url('bearpaw_-webfont.woff2') format('woff2'),
         url('bearpaw_-webfont.woff') format('woff'),
         url('bearpaw_-webfont.ttf') format('truetype'),
         url('bearpaw_-webfont.svg#bearpawregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background: url('images/background.png');
	font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}	


@media screen and (max-width: 1280px)

.img-responsive
{
	max-width: 1024px; 
	height: auto; 
}

/* Header */






/* Navigation */



/* Footer */

footer
{
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

 #vote_results 
{
    display: inline-block;
    vertical-align: top;
}


#vote_results ul 
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}



	
